{{ block "content" .}}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Chat
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="card" hx-ext="ws" ws-connect="/ws">
            <div class="row g-0">
                <div class="col-12 col-lg-12 col-xl-12 d-flex flex-column">
                    <div class="card-body scrollable" style="height: 35rem">
                        <div class="chat">
                            <div id="chatBubbles" class="chat-bubbles">

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <form id="chatMessage" ws-send>
                            <input id="message" name="message" type="text" class="form-control" autocomplete="off" placeholder="Type message" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="chatItemTemplate" class="chat-item" style="visibility: hidden">
    <div class="row align-items-end">
        <div class="col-auto"><span class="avatar" style="background-image: url(/assets/static/avatars/002m.jpg)"></span>
        </div>
        <div class="col col-lg-6">
            <div class="chat-bubble">
                <div class="chat-bubble-title">
                    <div class="row">
                        <div class="col chat-bubble-author">Chat user</div>
                    </div>
                </div>
                <div class="chat-bubble-body">
                    <p class="messageContent"></p>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}